<div class="row">
    <div class="col s12 m4 l3 blue-grey">
        <h3 class="flow-text">Ray Koren</h3>
        <img class="responsive-img" src="/images/Ray-Koren.png" alt="" />

    </div>

    <div class="col s12 m8 l9">
        <h2 class="flow-text center">Koren Full Stack Development</h2>
        <p class="flow-text">I am a Full Stack developer based in Denver, CO. I am a highly-motivated, self-driven problem solver committed to delivering on project timelines. I am valuable as an individual or contributor to any team with proven ability to transcend adversity
            and prioritize team goals.</p>

        <p class="flow-text">After spending years as a Salesforce Administrator and SEO Specialist my exposure to code had developed into a passion. The time I spent freelancing in web development and running my own music festival has made me a results-driven and execution-oriented
            person, ready to step in and make things happen.</p>

        <p class="flow-text">When I am not developing, I enjoy music, audio production and software, cooking, camping, snowboarding, and building things around the house.</p>


    </div>

</div>
