  <div class="nav-wrapper blue light-blue-darken-4">
    <a href="/" class="brand-logo"><i class="fa fa-code" aria-hidden="true"></i>
Koren Development</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="code.html">Code</a></li>
      <li><a href="Audio.html">Audio</a></li>
      <li><a href="resume.html">Resume</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="code.html">Code</a></li>
      <li><a href="Audio.html">Audio</a></li>
      <li><a href="resume.html">Resume</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
